
/* hornichems */
.userlove {
  color: #ff42a6;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 0 6px #82365e;
}

.love {
  color: #ff4591;
  font-style: italic;
  text-shadow: 0 0 6px #994449;
}

.umbra {
  color: #5000A0;
}

.umbra_emphasis {
  color: #5000A0;
  font-weight: bold;
  font-style: italic;
}

.umbra_large {
  color: #5000A0;
  font-weight: bold;
  font-style: italic;
  font-size: 3;
}
