
.userlove {
  color: #FF1493;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 0 6px #ff6dbc;
}

.love {
  color: #ff006a;
  font-style: italic;
  text-shadow: 0 0 6px #ff6d6d;
}

.umbra {
  color: #5000A0;
}

.umbra_emphasis {
  color: #5000A0;
  font-weight: bold;
  font-style: italic;
}

.umbra_large {
  color: #5000A0;
  font-weight: bold;
  font-style: italic;
  font-size: 3;
}
